
@{
    ViewBag.Title = "ListadoReservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservas</h2>

<table class="table">
    <tr>
        <th>Usuario</th>
        <th>Fecha Inicial</th>
        <th>Fecha Final</th>
        <th>Total Dias</th>
        <th>Alojamiento</th>
        <th>Sede</th>
        <th>Municipio</th>
        <th>Departamento</th>
    </tr>


    @foreach (var item in ViewBag.lista)
    {
        <tr>
            <td>@item.UsuarioId</td>
            <td>@item.FechaInicial</td>
            <td>@item.FechaFinal</td>
            <td>@item.totalDiasReservados</td>
            <td>@item.Alojamiento</td>
            <td>@item.Sede</td>
            <td>@item.Municipio</td>
            <td>@item.Departamento</td>
        </tr>
    }

</table>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>